<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-input type="text" placeholder="Text For QR" [(ngModel)]="qrData">
      </ion-input>
    </ion-item>
    <button ion-button full (click)="createCode()"><ion-icon name="barcode"></ion-icon></button>
    <button ion-button full (click)="scanCode()"><ion-icon name="qr-scanner"></ion-icon></button>

    <ion-card *ngIf="createdCode">
      <ngx-qrcode qrc-element-type="url" [(qrc-value)]="createdCode" ></ngx-qrcode>
      <ion-card-content>
        <p>Value: {{ createdCode }}</p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="scannedCode">
      <ion-card-content>
        Result from Scan : {{ scannedCode }}
      </ion-card-content>
    </ion-card>
</ion-content>
